extends layout

block content
  h1 Louis Timestamp service
  h3 How to use:
  p Natural: https://louis-timestamp-api.herokuapp.com/november 08, 2016
  p Unix: https://louis-timestamp-api.herokuapp.com/1927268
  h3 Output:
  p Output will be JSON.
  p example:
  code { "unix": 1927268, "natural": november 08, 2016 }